name: CI

on:
  push:
    branches: [ master, main ]
    tags: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  Execute-continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.20'

      - name: Check out code
        uses: actions/checkout@v2

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Check format
        run: |
          gofmt -l -s \
            aastesting \
            common \
            constants \
            getting_started \
            jsonization \
            reporting \
            stringification \
            types \
            verification \
            xmlization

      - name: Vet
        run: |
          go vet ./...

      - name: Run Unit tests
        env:
          AAS_CORE_3_0_GOLANG_TEST_DATA_DIR: ${{ github.workspace }}/testdata
        run: |
          go test -covermode atomic -coverpkg=./... -coverprofile=covprofile ./...

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=covprofile -service=github
